---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
$background-color: #212325;
$link-color: #bfc6cb;
$primary-color: #ba0c2f;
$link-color-hover: $primary-color;
$link-color-visited: #868e92;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*
https://github.com/mmistakes/minimal-mistakes/discussions/1219

html {
  font-size: 12px; // change to whatever

  @include breakpoint($small) {
    font-size: 12px; // change to whatever
  }

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }
}*/

/* https://jun711.github.io/web/adding-scroll-to-top-button-to-a-website*/
#scroll-to-top {
  display: block;
  position: fixed;
  font-size: 21px;
  @media (max-width: 600px) {
      font-size: 20px;
  }
  bottom: 25px;
  right: 4%;
  @media (max-width: 600px) {
      right: 5%;
      bottom: 15px;
  }
  
  opacity: 0;
  z-index: 99;
  text-align: center;
  
  :last-child {
    transition: transform 0.7s ease-in-out;
    
    &:active, &:hover {
       transform: translateY(-10%);
    }
  }
  transform: translateY(30%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


#scroll-to-top span {
  cursor: pointer;
  color: #ba0c2f;

  &:hover, &:active {
      .up-arrow {
          color: #bfc6cb;
      }
  }
}